{
    "presets":[
        "@babel/react",
        [
            "@babel/env",
            {
                "useBuiltIns":"usage"
            }
        ]
    ],
    "plugins":[
        "@babel/proposal-class-properties",
        "@babel/syntax-dynamic-import",
        "@babel/transform-runtime",
        [
            "@babel/plugin-transform-async-to-generator",
            {
                "module": "bluebird",
                "method": "coroutine"
            }
        ]
    ]
}